@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --cor-principal: #0A3871;
    --gray-400: #495057;
    --gray-100: #D8DFE8;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
}

body {
    background-color: #F3F5FC;
}

.corpo {
    height: 100vh;
    padding: 1%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
}

.logo {
    padding-left: 5%;
    width: 5%;
}

.criptografar-descriptografar {
    width: 65%;
    padding-top: 4%;
    height: 95vh;
}

.texto {
    color: var(--cor-principal);
    width: 100%;
    height: auto;
    min-height: 80%;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    resize: none;
}

.texto::placeholder {
    color: var(--cor-principal);
    font-size: 2rem;
}

.texto:focus {
    outline: none;
}

.abaixo-texto {
    height: 20%;
}


.info {
    color: var(--gray-400);
    font-size: 0.75rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 1%;
}

.icone-exclamacao {
    margin-right: 1%;
}

.botoes {
    display: flex;
    gap: 30px;
}

.botao {
    border: none;
    border-radius: 24px;
    padding: 2% 10%;
    font-size: 1rem;
    cursor: pointer;
}

.botao-crip {
    background-color: var(--cor-principal);
    color: white;
}

.botao-descrip {
    background-color: var(--gray-100);
    color: var(--cor-principal);
    border: 1px solid var(--cor-principal);
}

.mensagem-criptografada {
    background-color: white;
    border-radius: 32px;
    width: 30%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 400px;
}

.personagem {
    width: 80%;
}

.mensagem {
    min-height: 200px;
    width: 80%;
}

.texto-mensagem-criptografada {
    width: 80%;
    margin-top: 9%;
    display: flex;
    flex-direction: column;
    gap: 15px
}

.resultado {
    font-size: 1.5rem;
    color: var(--gray-400);
    height: 80%;
    background-color: transparent;
    border: none;
    resize: none;
}

.resultado::placeholder {
    color: var(--gray-400);
    font-size: 1.5rem;
}

.resultado:focus {
    outline: none;
}

.botao-limpar {
    background-color: transparent;
    color: var(--cor-principal);
    border: 1px solid var(--cor-principal);
    padding: 6% 30%;
}

@media (max-width: 768px) {
    .corpo {
        height: auto;
        flex-direction: column;
        width: 100%;
        padding: 5%;
    }

    .logo {
        padding-top: 4%;
    }

    .criptografar-descriptografar {
        width: 100%;
    }

    .abaixo-texto {
        width: 100%;
    }

    .botoes {
        justify-content: space-between;
        gap: 0;
    }

    .botao {
        padding: 3% 13%;
    }

    .mensagem-criptografada {
        padding: 2%;
        width: 100%;
        max-width: none;
        height: 20%;
    }

    .resultado {
        width: 90%;
        min-height: 300px;
    }

    .personagem {
        display: none;
    }

    .texto-mensagem-criptografada {
        margin-top: 0;
    }
}

@media (max-width: 425px) {
    .botoes {
        flex-direction: column;
        gap: 10px;
    }

    .botao {
        padding: 5% 10%;
    }
}